.grid-container{
   display: grid;
   grid-column-gap: 5px;
   grid-row-gap: 5px;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto auto auto auto;

}
button{
   font-size: 20px;
   color: white;
   background-color: black;
   width: auto;
   height: auto;
}
/* .operator{     
} */
.red{   
   color: red;
}
#clear{
   width:auto;
   grid-column: 1 / span 4;
}
#result{
   text-align: right;
   font-size: 20px;
}