.grid-container{
   display: grid;
   gap:5px;
   grid-template-columns: auto auto auto auto;
}
button{
   font-size: 20px;
   color: white;
   background-color: black;
   width: 70px;
   height: 70px;
}
/* .operator{     
} */
.red{   
   color: red;
}
#clear{
   width:auto;
   grid-column: 1 / span 4;
}
#result{
   width:auto;
   grid-column: 1 / span 4;
   text-align: right;
   font-size: 20px;
   background-color: white;
   margin-bottom: 15px;
}
.zouter-container{
   display:block;
   padding:20px;
   background-color: lightgray;
   margin-left:auto;
   margin-right:auto;
   width: 70%;
}
.outer-container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 55vh;
   min-height: 500px;
   /* padding: 10px; */
   margin-top: 50px;
   min-width: 200px;
   max-width: 350px;
   background-color: darkgray;
}
