.grid-container{
   display: grid;
   gap:5px;
   grid-template-columns: auto auto auto auto;
}
button{
   font-size: 20px;
   color: white;
   background-color: black;
   width: 70px;
   height: 70px;
}
/* .operator{     
} */
.red{   
   color: red;
}
#clear{
   width:auto;
   grid-column: 1 / span 4;
}
#result{
   width:auto;
   grid-column: 1 / span 4;
   text-align: right;
   font-size: 20px;
   background-color: white;
   margin-bottom: 15px;
}
.outer-container{
   display:block;
   padding:20px;
   background-color: lightgray;
   margin-left:auto;
   margin-right:auto;
   width: 70%;
}
